name: Publish GitHub Pages

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        type: [html, pdf]
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build Document
        uses: docker://ghcr.io/buehler/mse-pandoc:latest
        with:
          args: make clean_build build_${{ matrix.type }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.type }}
          path: public
  deploy-gh-pages:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: actions/checkout@v2
      - name: Download artifacts
        id: download
        uses: actions/download-artifact@v2
        with:
          path: public
      - run: mv public/html/* public/
      - run: mv public/pdf/* public/
      - name: Deploy gh pages
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          BRANCH: gh-pages
          FOLDER: public
